<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'Événement</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Formulaire d'Événement</h1>
        <form th:action="@{/modifyEvent}" th:object="${event}" method="post">
            <div class="form-group">
                <label for="intitule">Intitulé:</label>
                <input type="text" class="form-control" id="intitule" name="intitule" th:value="${event.intitule}"
                    required>
            </div>

            <div class="form-group">
                <label for="theme">Thème:</label>
                <input type="text" class="form-control" id="theme" name="theme" th:value="${event.theme}" required>
            </div>

            <div class="form-group">
                <label for="date_debut">Date de début:</label>
                <input type="text" class="form-control" id="date_debut" name="date_debut" th:value="${event.date_debut}"
                    required>
            </div>

            <div class="form-group">
                <label for="duree">Durée:</label>
                <input type="text" class="form-control" id="duree" name="duree" th:value="${event.duree}" required>
            </div>

            <div class="form-group">
                <label for="nb_part_max">Nombre de participants maximum:</label>
                <input type="text" class="form-control" id="nb_part_max" name="nb_part_max"
                    th:value="${event.nb_part_max}" required>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="description" name="description"
                    th:value="${event.description}" required>
            </div>

            <div class="form-group">
                <label for="organisateur">Organisateur:</label>
                <input type="text" class="form-control" id="organisateur" name="organisateur"
                    th:value="${event.organisateur}" required>
            </div>

            <div class="form-group">
                <label for="type_even">Type d'événement:</label>
                <input type="text" class="form-control" id="type_even" name="type_even" th:value="${event.type_even}"
                    required>
            </div>

            <input type="hidden" name="eventId" th:value="${event.num_even}">

            <button type="submit" class="btn btn-primary">Modifier Événement</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>