<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-pzjw8f+ua6r5g7v8jv9f6v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8" crossorigin="anonymous" />
</head>

<body>
  <div class="container">
    <form th:action="@{/inscriptionAdmin}" method="post">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" required />
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="date_naiss">Date de naissance</label>
        <input type="date" class="form-control" id="date_naiss" name="date_naiss" required />
      </div>
      <div class="form-group">
        <label for="organisation">Organisation</label>
        <input type="text" class="form-control" id="organisation" name="organisation" required />
      </div>
      <div class="form-group">
        <label for="observations">Observations</label>
        <textarea class="form-control" id="observations" name="observations" required></textarea>
      </div>
      <input type="hidden" name="eventId" th:value="${eventId}" />
      <button type="submit" class="btn btn-primary">Register</button>
    </form>

    <div th:if="${error}" class="alert alert-danger">
      <p th:text="${error}"></p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-3pXlJ+9d2vz0z3O9n9v9v9v9v9v9v9v9v9v9v9v9v9v9v9v9v9v9v9v9v9v9v9" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-pzjw8f+ua6r5g7v8jv9f6v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8" crossorigin="anonymous"></script>
</body>

</html>