<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>

  <body>
    <form th:action="@{/inscription}" method="post">
      <input type="text" name="nom" th:placeholder="Nom" required />
      <input type="text" name="prenom" th:placeholder="Prénom" required />
      <input type="text" name="email" th:placeholder="Email" required />
      <input
        type="text"
        name="date_naiss"
        th:placeholder="Datedenaissance"
        required
      />
      <input
        type="text"
        name="organisation"
        th:placeholder="Organisation"
        required
      />
      <input
        type="text"
        name="observations"
        th:placeholder="Observations"
        required
      />
      <input type="hidden" name="eventId" th:value="${eventId}" />
      <input type="submit" value="Register" />
    </form>

    <div th:if="${error}" class="error-message">
      <p th:text="${error}"></p>
    </div>
  </body>
</html>
